<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyFirstServlet</display-name>
   
  <servlet>
    <servlet-name>XMLServlet</servlet-name>
    <servlet-class>org.dhruv.simple.XMLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLServlet</servlet-name>
    <url-pattern>/xmlServletPath</url-pattern>
  </servlet-mapping>

<servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>org.dhruv.simple.SimpleServlet</servlet-class>
  </servlet>
   
<!-- Need to use when init.jsp runs because we have set init params here....-->
<servlet>
  	<servlet-name>InitJsp</servlet-name>
  	<jsp-file>/init.jsp</jsp-file>
  	<init-param>
  	<param-name>defaultUserName</param-name>
  	<param-value>Dhruv Modi</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>InitJsp</servlet-name>
  	<url-pattern>/init.jsp</url-pattern>
  </servlet-mapping>
</web-app>